.title {
  margin-bottom: 20px;
}
.text {
  margin-bottom: 20px;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn,
.registerBtn {
  border-radius: 8px;
  border: 1px solid #000000;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.loginBtn:hover,
.loginBtn:focus {
  color: var(--white);
  background-color: var(--light-brown);
}

.registerBtn:hover,
.registerBtn:focus {
  color: var(--white);
  background-color: var(--light-brown);
}

@media (max-width: 767px) {
  .action {
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .action {
    flex-direction: row;
    gap: 27px;
  }
}