.container {
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 107.5px;
  }
}

.bgLight {
  background-color: #fbfcf8;
}

.bgDark {
  background-color: #3d2218;
}
.bgTransparent {
  background: transparent;
}
