.modal {
  width: 100%;
  max-width: 362px;
  text-align: center;
  height: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 420px;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .actions {
    flex-direction: row-reverse;
  }
}

.confirmBtn {
  border-radius: 8px;
  padding: 16px;
  width: 314px;
  height: 54px;
  background-color: #c80000;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 0.8s ease, color 0.8s ease;
}

.confirmBtn:hover,
.confirmBtn:focus {
  background-color: #a30000;
}

.cancelBtn {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  width: 314px;
  height: 54px;
  font-weight: 600;
  background-color: #faf3e0;
  font-size: 18px;
  transition: background-color 0.8s ease, color 0.8s ease;
}

.cancelBtn:hover {
  background-color: lightgrey;
}

.cancelBtn:focus {
  outline: none;
}

.cancelBtn:active {
  border: 1px solid lightgray;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px white;
}
