.recipe_container {
  display: flex;
  align-items: center;
}

.recipe_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .recipe_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .recipe_item {
    max-width: 339px;
  }
}

@media screen and (min-width: 1440px) {
  .recipe_list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .recipe_item {
    max-width: 288px;
  }
}

.listSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;
}

.empty {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0 auto;
}

.loadMoreWrap {
  display: flex;
  justify-content: center;
}

.loadMoreBtn {
  border-radius: 8px;
  padding: 16px;
  width: 372px;
  height: 54px;
  background: #9b6c43;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .loadMoreBtn {
    width: 289px;
  }
}

.loadMoreShell {
  width: 264px;
  height: 56px;
  padding: 0 24px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
