.recipe_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
}


@media screen and  (min-width: 768px) {

    .recipe_list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
    }

    .recipe_item {

        max-width: 339px;
    }
}


@media screen and (min-width: 1440px){

    .recipe_list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 24px;
    }

    .recipe_item {

        max-width: 288px;
    }
}