.wrap {
  padding: 48px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 24px;
  }
}

.h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.count {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.filtersRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
  max-width: 361px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .filtersRow {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersRow {
    max-width: 1225px;
  }
}

.filtersColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
